<div class="landing">
<section class="presentation">
  <h1>We are ArmBati</h1>
  <h3>Professional</h3>
  <p>The best builder of the century probably equals to the gods of this world. We built door, window, home, wall for 20$</p>
  <div class="cta">
    <a href="#">Need wall ?</a>
    <a href="#">Need door ?</a>
  </div>
</section>
  <div class="social-icons">
    <!-- Facebook -->
    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16"><path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/></svg></a>
    <!-- Twitter -->
    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg></a>
    <!-- Mail -->
    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/></svg></a>
  </div>

  <span class="home-imgHover"></span>
</div>

<!-- Features anf Objections -->
<div class="showcase">
  <div class="services">Services</div>
  <div class="renovation">image</div>

</div>
<!-- Social proof -->
<!-- FAQ -->


<div class="faq">
<h1>FAQ</h1>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="question">How to build a wall ?</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="answer">We take all of our knowledge, concentrate it inside our fist then smash the ground.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="question">Can I have a refund ?</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="answer">Sure, if our client aren't satisfied with our renovation we refund 120% of the total cost + a pizza</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="question">Why does my wife left me and took our kids ?</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="answer">Probably because of the gigantic hole in the roof. Make sure to contact us if you want them back ! 😉</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="question">Is Sevak wasting his talents ?</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="answer">Nope, he will probably reach Challenger this year.</p>
  </mat-expansion-panel>

</div>

  <!-- Another CTA -->
<!-- Founder note -->


<h1>Nos dernières rénovations</h1>
<carousel [isAnimated]="true">
  <slide class="col-sm-6" *ngFor="let slide of slides">
    <img [src]="slide.imageSrc" [alt]="slide.alt">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{ slide.label }}</h3>
      <p>{{ slide.caption }}</p>
    </div>
  </slide>
</carousel>

<!-- https://www.youtube.com/watch?v=fGCtS6D6tr0 -->
