.landing {
  top: 0;
  left: 0;
  height: 100vh;
  background-size: cover;
  background: url('../../assets/images/bbg.png') no-repeat center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.presentation {
  max-width: 600px;
  overflow: initial;
  color: white;

}

.presentation h1, h3, p {
  cursor: default;
}

.presentation h1:hover, h3:hover, p:hover {
  opacity: 30%;
}

.presentation h1 {
  position: relative;
  font-size: 56px;
  font-weight: bold;
  line-height: 1.2;
}

.presentation h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 152, 115);
  animation: showRight 1s ease-in forwards;
  animation-delay: .4s;
}

.presentation h3 {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  color: rgb(253, 219, 204);
}

.presentation h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 152, 115);
  animation: showRight 1s ease-in forwards;
  animation-delay: .8s;
}

.presentation p {
  position: relative;
  font-size: 22px;
  font-weight: lighter;
  margin: 20px 0 40px;
}

.presentation p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 152, 115);
  animation: showRight .5s ease-in forwards;
  animation-delay: 1.2s;
}

.presentation .cta {
  position: relative;
  width: 345px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.presentation .cta::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 152, 115);
  animation: showRight 1.1s ease forwards;
  animation-delay: 1.2s;
  z-index: 2;
}


.cta a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: rgb(86, 73, 68);
  border: 2px solid rgb(86, 73, 68);
  border-radius: 15px;
  font-size: 19px;
  color: rgb(253, 219, 204);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.cta a:hover {
  color: rgb(86, 73, 68);
}

.cta a:nth-child(2) {
  background: transparent;
  color: rgb(86, 73, 68);
}

.cta a:nth-child(2):hover {
  color: rgb(253, 219, 204);
}

.cta a:nth-child(2)::before {
  background: rgb(86, 73, 68);
}

.cta a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(185, 152, 115);
  z-index: -1;
  transition: .5s;
}

.cta a:hover::before {
  width: 100%;
}

.social-icons {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.social-icons::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 152, 115);
  animation: showRight 1.3s ease forwards;
  animation-delay: 1.6s;
  z-index: 3;
}

.social-icons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(253, 219, 204);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(253, 219, 204);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}



.social-icons a:hover {
  color: rgb(86, 73, 68);
}

.social-icons a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(253, 219, 204);
  z-index: -1;
  transition: .5s;
}

.social-icons a:hover::before {
  width: 100%;
}


.home-imgHover {
  position: absolute;
  top: 2rem;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: transparent;
  /*border: 2px solid red; */
  transition: 2.4s;
}

.home-imgHover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 152, 115);
  animation: showRight 1.3s ease forwards;
  animation-delay: 1.6s;
  z-index: 3;
}



.home-imgHover:hover {
  backdrop-filter: grayscale(40%);
}

slide img {
  max-height: 75vh;
  width: 100%;
  overflow: hidden;
}

slide h3 {
  font-size: 2rem;
}
slide p {
  font-size: 1.2rem;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* Hook phrase */
.showcase {
  background-color: rgb(185, 152, 115);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hook-text {
  display: flex;
  align-items: center;
  flex-basis: auto;
}

.hook-text .first-text {
  color: rgb(253, 219, 204);
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

.hook-text .second-text {
  top: 1rem;
  font-weight: lighter;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
}


.second-text li {
  position: relative;
  top: 0;
  font-size: 3rem;
  padding-bottom: 1rem;
  color: rgb(253, 219, 204);
  list-style: none;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -20rem;
  }
}


.second-text li span {
  position: relative;
}

.second-text li span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(185, 152, 115);
  border-left: 2px solid rgb(253, 219, 204);
  animation: typing 1.5s steps(16) infinite alternate;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -1rem 0 1rem;
  }
}
/* ------------ */

mat-expansion-panel {
  min-height: 3rem;
  background-color: rgb(185, 152, 115);
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: block;
}

.faq h1 {
  color: rgb(86, 73, 68);
  font-size: clamp(12px, 8vh, 32px);
  font-weight: 600;
  position: relative;
  left: 2rem;
}

span.question {
  height: 100%;
}

.question {
  font-size: clamp(16px, 4vh, 26px);
  font-weight: 500;
  color: rgb(86, 73, 68);
  height: auto;
}


.answer {
  font-size: clamp(12px, 2vh, 22px);
  font-weight: lighter;
  color: rgb(86, 73, 68);
}
