.sidenav-container {
  height: 100%;
}

.logo {
  width: 8rem;
  cursor: default;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: red;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

.mat-toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(50px);
}

.nav-link a {
  font-size: 1.1em;
  margin-left: 1.5rem;
  padding: 6px 20px;
  text-decoration: none;
  color: rgb(177, 153, 143);
  border-radius: 20px;
  position: relative;
}

.nav-link a:hover{
  color: rgb(253, 219, 204);
}



.sidenav {
  display: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: 960px) {
  .sidenav {
    display: block;
    width: 8rem;
  }

  .logo {
    display: none;
  }

  .nav-link a {
    display: none;
  }
}
