<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Services</a>
      <a mat-list-item href="#">About</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content style="background-color: rgb(185, 152, 115)">
    <mat-toolbar color="transparent" class="sticky-top">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="#">
        <img src="assets/images/logo.png" class="logo">
      </a>
      <nav class="nav-link">
        <a [ngClass]="{'active': router.url === '/home'}" routerLink="/home">Home</a>
        <a [ngClass]="{'active': router.url === '/services'}" routerLink="/services">Services</a>
        <a [ngClass]="{'active': router.url === '/about'}" routerLink="/about">About</a>
      </nav>
      <button mat-button [matMenuTriggerFor]="animals"><span class="material-symbols-outlined">
build
</span></button>
      <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="Language">Language</button>
        <button mat-menu-item [matMenuTriggerFor]="Theme">Theme</button>
      </mat-menu>

      <mat-menu #Language="matMenu">
        <button mat-menu-item>English</button>
        <button mat-menu-item>Français</button>
        <button mat-menu-item>Armenian</button>
      </mat-menu>

      <mat-menu #Theme="matMenu">
        <button mat-menu-item>Brown</button>
        <button mat-menu-item>Blue</button>
        <button mat-menu-item>Red</button>
        <button mat-menu-item>Green</button>
      </mat-menu>

    </mat-toolbar>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
